POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
POKEMON_ENTRENADORES=[Pikachu,,]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=1
ESTIMACION_INICIAL=5
IP_BROKER=[A definir por el grupo]
PUERTO_BROKER=[A definir por el grupo]
LOG_FILE=team.log
IP_TEAM=127.0.0.2
PUERTO_TEAM=5002