POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
POKEMON_ENTRENADORES=[Pikachu,,]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=1
ESTIMACION_INICIAL=5
IP_BROKER=[A definir por el grupo]
PUERTO_BROKER=[A definir por el grupo]
LOG_FILE=[A definir por el grupo]